<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Simple Airbnb</a>
    <button class="btn btn-outline-primary">
    <%= link_to "Add Flat", new_flat_path, class: "text-decoration-none" %>
    </button>
  </div>
</nav>